<h1 class="pageDescTitle">About Us</h1>
<p class="pageDesc">
Welcome to Amrutha's Personal Budget Application!
<br><br>
With our app, we believe that managing your finances should be simple and stress-free.
<br>
Our mission is to provide you with the tools and resources you need to achieve your financial goals with ease.
<br>
Whether you're budgeting for everyday expenses, saving for a big purchase, or planning for retirement, our user-friendly platform is designed to support you every step of the way.
<br>
With customizable categories, detailed insights, and proactive alerts, staying in control of your finances has never been more convenient.
<br>
Join thousands of satisfied users and experience the difference with Amrutha's Personal Budget Application.
<br><br>
Begin your journey to financial empowerment today!
</p>

